.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.upload-form h2 {
  color: #484c48;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.form-group label {
  flex: 0 0 30%;
  text-align: left;
  color: #403e3e;
}

.form-group input,
.form-group textarea {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  color: black;
}

.form-group input:active,
.form-group textarea:active {
  outline-style: none;
  outline-color: white;
}

.submit-button {
  background-color: rgb(119, 119, 243);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
}

.submit-button:hover {
  background-color: rgb(81, 81, 234);
}
